[Desktop Entry]
Version=1.0
Name=Systeminfo
Comment=Zeigt Systeminformationen an
Exec=xterm -hold -geometry 125x70 -fa 'Monospace' -fs 9.0 -e python3 /bin/guideos-info-tool.py
Icon=/usr/share/pixmaps/guideos-info-tool.png
Terminal=false
Type=Application
Categories=GuideOS;
Name[de_DE]=Guideos-Info-Tool
